@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300;500;600;800&family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,200;1,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-image: url('https://img.freepik.com/free-vector/fruit-vegetables-background_23-2148512944.jpg?w=1800&t=st=1696640567~exp=1696641167~hmac=138cfaa43e3372cee03d4800c58ca5d27cf2eaa2fa38d08c5d95e1780e9ef5b2');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-navbar {
  font-family: 'Martian Mono', monospace;
}

.nav-text {
  font-size: 16px; /* Set the font-size of your navbar links */
}

.nav-link:hover {
  color: #007BFF; /* Change color when hovered */
}

.navbar-brand {
  font-weight: 600; /* Making the brand a little bolder */
  font-size: 20px; /* A bit larger than other nav items */
  margin-right: 10px; /* A bit of spacing to separate it from the rest */
}


.recipes-heading {
  font-size: 3rem;
  font-family: 'Martian Mono', monospace;
  margin-bottom: 100px;
  color: goldenrod;
}


.heading-font {
  font-family: 'Martian Mono', monospace;
}

.text-font, .warning-text {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: whitesmoke;
}
.generator-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Martian Mono', monospace;
  color: rgb(220, 146, 9);

}

* {
  box-sizing: border-box;
}

.ingredients-input,
.cuisine-input,
.mealtype-input,
.dietary-input,
.select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;

}

.ingredients-input::placeholder,
.cuisine-input::placeholder {
  color: black;
}


.ingredients-input,
.cuisine-input {
  background-color: rgb(235, 232, 217);
  border: 1px solid seagreen;
  padding: 10px; 
}


.dietary-input,
.mealtype-input {
  background-color: rgb(235, 232, 217); 
  border: 1px solid seagreen;
  padding: 10px;
}

.generate-button {
  width: 100%;
  background-color: seagreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Martian Mono', monospace;

}

.generate-button:hover {
  background-color: rgb(95, 148, 119);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
}

.inputGroup {
  width: 300px;
}

.alert {
  margin-top: 20px;
}

.container-recipes {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.big-button {
  font-size: 2.5rem; 
  margin: 20px;
  padding: 20px 40px; 
  width: 100%; 
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .big-button {
    font-size: 2rem;
    width: 80%;
  }
}

@media screen and (min-width: 901px) {
  .big-button {
    font-size: 2.5rem;
    width: 600px;
  }
}



.container-recipe-form {
  max-width: 600px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

.form-container,
.generator-container,
.profile-container {
  max-width: 700px; /* Increase this if needed */
  min-width: 600px; /* Add min-width to ensure it does not shrink too much */
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px seagreen;
  box-sizing: border-box;
  background-color: rgb(220, 220, 152);
  border: green 2px solid;
}


.form-title {
  font-size: 34px;
  margin-bottom: 20px;
  color: seagreen;
}


.input1 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
}

.button {
  background-color: seagreen;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}


.header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}



.x-button {
  background-color: slategray;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button {
  background-color: seagreen;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.x-button:hover {
  background-color: red;
}

.add-button:hover {
  background-color: lightseagreen;

}

.submit-button {
  background-color: seagreen;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2aae47;
}

#timer-collapse {
  padding-top: 20px;
  border-radius: 10px;
  border: 1px #ddd solid ;
  margin: 10px;
  background-color:#ddd;
  padding: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.timer-button {
  margin: 10px;
}

.detail-title {
 color: goldenrod;
}

.review-text {
  margin-right: 5px;
}

.recipe-details-container {
  background-color: seagreen;
  border: seagreen 35px solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 0 10px seagreen;
}

.image-con {
  text-align: center;
  padding: 20px;
}

.con-buttons {
  margin-top: 10px;
}

.home-title {
  color: seagreen;
  padding-bottom: 550px;
}
.home-container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.home-image {
  width: 250px;
  height: auto;
  margin: 20px 0;
}

.home-card {
  margin: 15px 0;
  transition: transform 0.2s;
  cursor: pointer;
  background-color: rgb(220, 220, 152);
  border: green 2px solid;
}

.home-card-2 {
  margin: 15px 0;
  cursor: default;
  background-color: rgb(220, 220, 152);
  border: green 2px solid;
}

.home-card:hover {
  transform: scale(1.05);
}

.home-card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: darkorange;
}

.home-card-text {
  font-size: 1em;
  color: darkgreen;
}

.home-title {
  font-size: 2em;
  margin: 20px 0;
}

.home-subtitle {
  font-size: 1.5em;
  margin: 20px 0;
}

.user-saved {
  margin-top: 10px;
  margin-bottom: 30px;
  color: seagreen;
}

.full-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Martian Mono', monospace;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-body {
  background-color: lightgoldenrodyellow;
  border: 1px lightgoldenrodyellow solid;
  
}

.search-bar {
  margin-bottom: 30px;
  border-radius: 10px;
}
.search-bar-input {
  width: 500px;
  height: 40px;
}

.saved-recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  overflow: auto;
}


.recipe-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform .2s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-image {
  width: 300px;
  height: auto;
  box-shadow: #218838;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgoldenrodyellow;
}

.comments-section {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid goldenrod;
}

.comment-data {
  font-size:smaller
}

.comment-card {
  border: 2px goldenrod solid;
  padding: 10px;
  background-color: rgb(227, 227, 168);
  margin-bottom: 10px;
}


.star-button, .timer-button {
  margin-right: 10px;
}

.profile-container {
  text-align: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.profile-image {
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-heading {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.profile-detail {
  margin-bottom: 15px;
  font-size: 18px;
  color: #555;
}

.saved-recipes-btn {
  background-color: seagreen;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Martian Mono', monospace;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* This provides a smooth transition for color changes */
}

.saved-recipes-btn:hover {
  background-color: darkseagreen; /* Change to your desired hover color */
}
